<li id="quiz-<%= quiz.id %>">
  <span class="user"><%= link_to quiz.user.name, quiz.user %></span>
  <span class="content"><%= quiz.content %></span>
  
  
 <p>
	<a class="btn btn-default" data-toggle="collapse" href=".collapseSample2">
		答えをみる
	</a>
</p>
<div class="collapse collapseSample2">
	<div class="well">
		<span class="answer"><%= quiz.answer %></span>
	</div>
</div>
<!--<div class="collapse collapseSample2">-->
<!--	<div class="well">-->
<!--		<span class="answer"><%= quiz.answer %></span>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="collapse collapseSample2">-->
<!--	<div class="well">-->
<!--		<span class="answer"><%= quiz.answer %></span>-->
<!--	</div>-->
<!--</div>-->



  
  <span class="timestamp">
    Posted <%= time_ago_in_words(quiz.created_at) %> ago.
    <% if current_user?(quiz.user) %>
      <%= link_to "delete", quiz, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>